/* ========================= */
/* GLOBAL */
/* ========================= */
body {
  margin: 0;
  padding: 0;
  background-color: #e0f7fa;

  background-image:
    url('/src/assets/photo/background.jpg'),
    radial-gradient(circle, #fffacd 1px, transparent 1px);

  background-repeat: no-repeat, repeat;
  background-position: center top, 0 0;
  background-size: cover, 40px 40px;

  color: #333;
  font-family: 'Baloo 2', 'Comic Neue', 'Comic Sans MS', cursive, sans-serif;
}

/* Icons */
.icon,
.icon_header {
  vertical-align: middle;
  margin-right: 6px;
}

.icon {
  font-size: 22px;
}

.icon_header {
  font-size: 28px;
}